*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* color: rgb(20, 28, 80); */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* color-scheme: dark; */
}
#banner{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/pic\ 12.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header */
.menu{
    width: 3rem;
    display: none;
}
.close{
    display: none;
}
header{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.53); */
}
.logo{
    color: white;
    font-size: 2rem;
}
.logo span{
    color: rgb(20, 28, 80);
}
nav{
    transform: translateX(0);
}
nav ul{
    display: flex;
    /* color: white; */
}
nav ul li a{
    padding: 1rem;
    color: #fff;
    display: inline-block;
    transition: transform .5s ease-in-out;
}
nav ul li a:hover{
    transform: scale(1.2);
}
.btn{
    margin-left: 3rem;
    border: 1px solid #fff;
    color: #fff;
    padding: .5rem;
}
.main-con{
    text-align: center;
    position: relative;
    top: 25%;
}
.main-con h1{
    font-size: 4.3rem;
    color: #fff;
}
.main-con p{
    margin-top: .5rem;
    color: #fff;
    font-style: italic;
}
.btnn{
    margin-top: 1rem;
        /* position: relative; */
}
.btnn a{
    margin-left: 1rem;
    border: 1px solid #fff;
    color: #fff;
    padding:  .5rem 1rem;
    width: 150px;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.btnn a span{
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    width: 0%;
    height: 100%;
    transition: .5s ease-in-out;
}
.btnn a:hover span{
    width: 100%;
}
.btnn a:hover{
    color: rgb(20, 28, 80);
}

/* Responsive Header */
@media screen and (max-width:770px) {
    .btn{
        display: none;
    }
    .menu{
        display: unset;
        cursor: pointer;
        /* z-index: 2; */
        position: fixed;
        /* top: 0; */
        right: 0;
    }
    .close{
        display: unset;
        width: 2rem;
        float: right;
        margin: 1rem;
        cursor: pointer;
    }
    nav{
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        height: 100vh;
        width: 50%;
        z-index: 2;
        transform: translateX(100%);
        transition:transform .5s ease-in-out;
    }
    nav ul{
        display: block;
        margin-top: 5rem;
    }
    nav ul li a{
        display: block;
        padding: 1.5rem 1.3rem;
        font-size: 1.15rem;
        color: #000;
        text-transform: uppercase;
        transition: .3s ease-in-out;
    }
    nav ul li a:hover{
        background: rgba(128, 128, 128, 0.451);
        transform: unset;
    }
    .open-nav{
        transform: translateX(0%);
    }
    .main-con{
        top: 15%;
        margin: 0 2rem 0;
    }
    .main-con h1{
        font-size: 3rem;
    }
    .main-con p{
        font-size: .9rem;
    }
    .btnn{
        margin-top: 2rem;
        /* text-align: center; */
    }
    .btnn a{
        display: block;
        margin: 1rem auto;
    }

}

/* Features */
#features{
    width: 100%;
    padding: 50px 0;
}
.title{
    text-align: center;
    padding-bottom: 70px;
}
.title p{
    color: rgb(20, 28, 80);
    font-weight: bolder;
    font-size: 1.35rem;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.title p::after{
    content: '';
    position: absolute;
    background: linear-gradient(to top right, rgb(143, 157, 190),rgb(2, 18, 55));
    top: -20px;
    left: 5px;
    width: 50px;
    height: 35px;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title h1{
    font-size: 2.5rem;
}
.features{
    width: 80%;
    display: flex;
    text-align: center;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
.features-text{
    flex-basis: 50%;
}
.features-text h1{
    text-align: left;
    margin-bottom: .5rem;
    color: rgb(20, 28, 80);
}
.features-img{
    flex-basis: 50%;
}
.features-img img{
    width: 70%;
    border-radius: 8px;
}
.feat{
    display: flex;
}
.feat .fa{
    margin-right:1rem ;
    border: 1px solid rgb(20, 28, 80);
    height: 2.5rem;
    width: 5rem;
    border-radius: 3px;
    font-size: 20px;
    line-height: 40px;
    color: rgb(2, 18, 55);
    /* padding: .2rem; */
}
.feat p{
    margin-bottom: 2rem;
    text-align: initial;
}

/* Responsive Features */
@media screen and (max-width:770px) {
    .title h1{
        font-size: 1.8rem;
    }
    .features-text{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
    }
    .features-img img{
        width: 100%;
    }
}

/* Services */
#services{
    background: rgba(62, 73, 145, 0.134);
    padding: 50px 0;
}
.services{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-wrap: wrap;
    /* text-align: center; */
}
.service-inn{
    /* margin-top: 1rem; */
    margin-bottom: 20px;
    flex-basis: 48%;
    position: relative;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}
.service-inn img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.overlay{
    position: absolute;
    top: 0;
    /* bottom: 0; */
    width: 100%;
    height: 100%;
    background: rgba(20, 28, 80, 0.43);
    border-radius: 7px;
    opacity: 0;
    transition: 1s;
    overflow: hidden;
}
.service-inn:hover .overlay{
    opacity: 1;
}
.service-desc{
    width: 70%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    opacity: 0;
    transition: 1s;
}
.service-desc hr{
    width: 70%;
    margin: auto;
}
.service-desc h3{
    padding-bottom: 5px;
}
.service-desc p{
    font-size: .8rem;
}
.service-inn:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

/* Responsive Services */
@media screen and (max-width:770px) {
    .service-inn{
        flex-basis: 100%;
    }
    .service-desc h3{
        font-size: 1.2rem;
    }
}

/* Testimonial */
#testimonial{
    width: 100%;
    padding: 70px 0;
}
.testimonial{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    cursor: pointer;
}
.testi-box{
    flex-basis: 30%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 10px 20px 5px rgba(20, 28, 80, 0.214);
    transition: .5s ease-in-out;
    margin-bottom: 3rem;

}
.user img{
    width: 3rem;
    margin-right: 1rem;
    border-radius: 5px;
}
.user{
    display: flex;
}
.testi-box p{
    margin-top: .5rem;
}
.user p{
    margin: 0;
    color: aqua;
}
.user .fa{
    color: aqua;
    font-size: 1.2rem;
}
.testi-box:hover{
    transform: translateY(-1rem);
}
/* Responsive Testimonial */
@media screen and (max-width:770px){
    .testi-box{
        flex-basis: 100%;
    }
}

/* footer */
#footer{
    background: rgba(62, 73, 145, 0.134);
    padding: 50px 0;
    width: 100%;
    position: relative;
}
.footer-row{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}
.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-row h1{
    margin-bottom: 1.5rem;
}
.footer-row p{
    margin-bottom: 1rem;
}
.footer-right{
    text-align: right;
}
.footer-row .fa{
    color: rgb(2, 18, 55);
    font-size: 1.5rem;
    margin: .5rem;
}
.footer-img {
    max-width: 300px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
.social-links{
    text-align: center;
}
.social-links .fa{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(20, 28, 80);
    font-size: 20px;
    margin: 50px 5px 0;
    line-height: 40px;
    border-radius: 3px;
    color: rgb(20, 28, 80);
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.social-links .fa:hover {
    background: rgb(20, 28, 80);
    color: white;
    transform: translateY(-7px);
}
.social-links p {
    margin-top: 1rem;
    font-size: 0.8rem;
}
/* Responsive Footer */
@media screen and (max-width:770px) {
    .footer-left,.footer-right{
        flex-basis: 100%;
    }
    .footer-img{
        top: 20%;
    }
}

